
  
    {% extends 'base.html' %}


{% block body %}
    <div style="background-color: #fa79ad;" >  
    
    <h1 class="display-4 text-center ">Welcome!</h1>
    
    



    <h1 class=" display-6 text-center"> to</h1>

   


    <h1 class="display-4 text-center"> Dream Tracker </h1>
    <p></p>
    <p></p>

    <div class="container text-left display-7 text-center border border-5 whtie" >
        <div class="row">
        <div class="col">
          <b>  </b>
          <p>A dream tracker for students and adults alike meant to help people remember and interpret their dreams with ease.  <p> </p></p>
        </div>
    </div>
    </div>

          
     
<p></p>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="https://th.bing.com/th/id/OIP.6o6qDsNXB3jGlQZSLN77tAHaHa?rs=1&pid=ImgDetMain" class="d-block w-100" alt="..." width="300" height="400">
      </div>
      <div class="carousel-item">
        <img src="https://th.bing.com/th/id/OIP.mNdKTLdeBIPiZX1N2uYfKwHaHa?rs=1&pid=ImgDetMain" class="d-block w-100" alt="..."  width="300" height="400" >
      </div>
      <div class="carousel-item">
        <img src="https://th.bing.com/th/id/R.5861d004cc4b9498c2cb9fa548fc6f29?rik=yNe2f4qR24uuFA&riu=http%3a%2f%2f4.bp.blogspot.com%2f-RV0RxR2lyj8%2fVOfmRexajtI%2fAAAAAAAAOCk%2fr_av3oJ47D8%2fs1600%2fsmiley-with-sleeping-cap.png&ehk=tmb%2bwImhZBd4OMZMucDS9Uk6tNtGZQ7usYsGbNviMqs%3d&risl=&pid=ImgRaw&r=0" class="d-block w-100" alt="..." width="300" height="400">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




    
    


    

    {% endblock %}