{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="col-4">
        <h1 class="display-1">Any Feedback for us?</h1>
    </div>
    <div class="col">
        <a href="/reflection/new" class="btn btn-primary btn-sm mt-5" role="button">Comment Button</a>
    </div>
</div>

{% if reflections %}
    {% for reflection in reflections %}
        <div class="row border-bottom">
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">Date</h3>
                {% endif %}

                <a href="/reflection/{{reflection.id}}">
                    {{moment(reflection.create_date).calendar()}}
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">User</h3>
                {% endif %}
                {{reflection.author.fname}} {{reflection.author.lname}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-5">Subject</h3>
                {% endif %}
                {{reflection.symbol}}
            </div>
        </div>
    {% endfor %}
{% else %}

{% endif %}

{% endblock %}